/admin/node_modules
/auth/node_modules
/communities/node_modules
/experiences/node_modules
/profile/node_modules
/skills/node_modules
/playonomics-lib/node_modules

/admin/dist
/admin/dist
/communities/dist
/experiences/dist
/profile/dist
/skills/dist
/playonomics-lib/dist

/eureka/.idea
/gateway/.idea

/admin/.env
/auth/.env
/communities/.env
/experiences/.env
/profile/.env
/skills/.env

.DS_Store