/admin/node_modules
/auth/node_modules
/communities/node_modules
/feed/node_modules
/profile/node_modules
/skills/node_modules
/playonomics-lib/node_modules
/cart-order/node_modules

/admin/dist
/admin/dist
/communities/dist
/feed/dist
/profile/dist
/skills/dist
/playonomics-lib/dist
/cart-order/dist

/eureka/.idea
/gateway/.idea

/admin/.env
/auth/.env
/communities/.env
/feed/.env
/profile/.env
/skills/.env
/cart-order/.env

.DS_Store

/rabbit/data
/rabbit/logs
node_modules
